<html>
    <head>


    </head>

    <body>
        <form align="center" action=" {% url 'cadastro'%}" method="post">
            {% csrf_token %}

            <input type="text", placeholder="Usuário...", name="username">
            <br>
            <br>
            <input type="email", placeholder="E-mail...", name="email">
            <br>
            <br>
            <input type="password", placeholder="Senha...", name="senha">
            <br>
            <br>
            <input type="submit", value="Cadastrar">

        </form>

    </body>



</html>